<div id="<%= dom_id keyword %>" class="bg-gray-800/50 border border-gray-700 rounded-lg p-6 hover:border-gray-600 transition-colors duration-200 h-full flex flex-col">
  <div class="flex-1">
    <div class="flex items-start justify-between">
      <div class="flex-1">
        <h3 class="text-lg font-semibold text-gray-100 group-hover:text-yellow-500 transition-colors">
          <%= link_to keyword.name, [:app, keyword], class: "hover:underline" %>
        </h3>
        <div class="mt-4 grid grid-cols-2 gap-4 text-sm">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-400">Monthly Searches:</span>
            <span class="text-gray-100 ml-2 font-medium"><%= number_with_delimiter(keyword.avg_monthly_searches) %></span>
          </div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-400">Competition:</span>
            <span class="text-gray-100 ml-2 font-medium"><%= keyword.competition %></span>
          </div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-400">Competition Index:</span>
            <span class="text-gray-100 ml-2 font-medium"><%= keyword.competition_index %></span>
          </div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-400">Bid Range:</span>
            <span class="text-gray-100 ml-2 font-medium">$<%= number_with_precision(keyword.low_top_of_page_bid_micros.to_f / 1_000_000, precision: 2) %> - $<%= number_with_precision(keyword.high_top_of_page_bid_micros.to_f / 1_000_000, precision: 2) %></span>
          </div>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-4 text-sm">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-400">Indexed:</span>
            <span class="text-gray-100 ml-2 font-medium"><%= keyword.indexed ? "Yes" : "No" %></span>
          </div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-400">URLs:</span>
            <span class="text-gray-100 ml-2 font-medium truncate"><%= keyword.urls.join(", ") %></span>
          </div>
        </div>

        <% if keyword.rankings.any? && keyword.rankings.last&.rank.present? %>
          <div class="mt-4 pt-4 border-t border-gray-700">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                </svg>
                <span class="text-gray-400">Current Rank:</span>
                <span class="ml-2 px-2 py-1 text-sm font-medium rounded-full <%= keyword.rankings.last.rank <= 10 ? 'bg-green-500/10 text-green-400' : 'bg-yellow-500/10 text-yellow-400' %>">
                  #<%= keyword.rankings.last.rank %>
                </span>
              </div>
            </div>
            <% if keyword.rankings.last&.url.present? %>
              <div class="mt-2 text-sm">
                <span class="text-gray-400">URL:</span>
                <a href="<%= keyword.rankings.last.url %>" target="_blank" class="ml-2 text-gray-300 hover:text-yellow-500 truncate block" title="<%= keyword.rankings.last.url %>">
                  <%= keyword.rankings.last.url %>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-6 pt-4 border-t border-gray-700 flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <% if keyword.urls.any? %>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-500/10 text-blue-400">
          <%= pluralize(keyword.urls.size, 'URL') %>
        </span>
      <% end %>
    </div>
    <div class="flex items-center space-x-2">
      <%= link_to [:app, keyword], class: "text-gray-400 hover:text-yellow-500 transition-colors" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
  </div>
</div>
