<header class="bg-gray-900 border-b border-gray-800 fixed w-full z-50 text-gray-500">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center space-x-8">
      <div class="flex-shrink-0 flex items-center">
        <i data-lucide="activity" class="h-8 w-8 text-red-500"></i>
        <%= link_to root_path, class: "flex items-center space-x-2" do %>
          <span class="ml-2 text-xl font-bold bg-gradient-to-r from-red-500 to-yellow-500 bg-clip-text text-transparent">
            keywords.watch
          </span>
        <% end %>
      </div>

        <div class="hidden md:flex items-center space-x-4">
          <%= link_to "Domains", app_domains_path, class: "px-3 py-2 rounded-md text-sm font-medium transition-colors" %>
          <%= link_to "Keywords", app_keywords_path, class: "px-3 py-2 rounded-md text-sm font-medium transition-colors" %>
          <%= link_to "Rankings", app_rankings_path, class: "px-3 py-2 rounded-md text-sm font-medium transition-colors" %>
          <%= link_to "Backlinks", app_backlinks_path, class: "px-3 py-2 rounded-md text-sm font-medium transition-colors" %>
        </div>
      </div>

      <div class="flex items-center space-x-4">
        <% if Current.user %>
          <button id="toggle_chat_panel_nav" class=" hover:cursor-pointer flex items-center px-3 py-2 bg-transparent border-2 border-yellow-500/30 rounded-md font-semibold transition-all duration-200 hover:border-yellow-500/60 hover:bg-yellow-500/10" title="Toggle AI Chat">
            <span class="text-yellow-500 mr-2 hidden sm:flex">AI Agent</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
            </svg>
          </button>
          <div class="text-sm text-gray-400">
            <%= Current.user.email_address %>
          </div>
          <%= button_to session_path, method: :delete, form: {data: {turbo_confirm: 'Are you sure you want to logout?'}}, class: "flex items-center px-4 py-2 bg-transparent border-2 border-red-500/30 rounded-md font-semibold transition-all duration-200 hover:border-red-500/60 hover:bg-red-500/10" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" x2="9" y1="12" y2="12"></line></svg>
            Logout
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
